# 1. print the data type of variable x

In [1]:
X=6
type(X)

int

### 2. what will be datatype of following variable, mention answer in comments

In [2]:
var = 'VisioNLP'  ###Str

### 3. Insert the correct syntax to convert x into a int data type.

In [3]:
x = 10.44
int(x)

10

### 4. Convert x into string

In [4]:
x = 65
str(x)

'65'

### 5. Multipy 10 with 5, and print the result.

In [5]:
10*5

50

### 6. Use assignment operator and Perform Multiplication x and y values and store it in x

In [9]:
x=10
y=5
x*=y
print('x: ', x)

x:  50

### 7. Correct the following statement

In [10]:
x = x + 6 > 3

In [11]:
x

True

### 8. Correct the following line

In [12]:
x = 9
y = 6

x >= y

True

### 9. list out different data types

'str'
'int'
'float'
'boolean'

### 10. Add and display/print few examples of your choice of arithmetic operations

In [18]:
print(1+0)

1

In [15]:
print(1*1)

1

In [16]:
print(1/1)

1.0

In [17]:
print(2-1)

1

In [22]:
print(3%2)

1

In [23]:
print(1**1)

1

In [25]:
print(4//3)

1